<div id="title-card" class="fullscreen">
	<h1 class="header"> Spirit Dog </h1>
	<h4 class="subheader"> Let the Spirit Dog be your guide.</h4>
	<a id="begin" href="#living-situation">Let's Begin</a>
</div>

<div id="living-situation" class="fullscreen">
	<h1 class="header"> Living Situation </h1>
	<h4 class="subheader"> I live in a...</h4>
	
		<div class="row living-options">
				<div id="city" class="col s4 selection-icon">
					<%= image_tag('svg-icons/city.svg', size: '200x200') %>
				</div>
				<div id="suburb" class="col s4 selection-icon">
					<%= image_tag('svg-icons/house.svg', size: '200x200') %>
				</div>
				<div id="rural" class="col s4 selection-icon">
					<%= image_tag('svg-icons/farm.svg', size: '200x200') %>
				</div>
			
		</div>
	</div>

<div id="lifestyle" class="fullscreen">
	<h1 class="header"> Lifestyle </h1>
	<h4 class="subheader"> What kind of lifestyle do you live?</h4>
	<a href="#reset">
		<div class="row lifestyle-options">
			<div id="couch" class="col s4 selection-icon">
				<%= image_tag('svg-icons/couch.svg', size: '200x200') %>
			</div>
			<div id="walk" class="col s4 selection-icon">
				<%= image_tag('svg-icons/walk.svg', size: '200x200') %>
			</div>
			<div id="hike" class="col s4 selection-icon">
				<%= image_tag('svg-icons/mountain.svg', size: '200x200') %>
			</div>
		</div>
	</a>
</div>

<div ng-controller="DogController as main">
	<div class="container">
		<div class="row">
			<form id="search-box" class="col s12">
				<div class="input-field col s12 m4 l8">
				  <input placeholder="Try searching for a breed or a tag like 'nice'" type="text" id="query">
					<input type="submit" value="search"></input>
					<button id="reset">Reset</button>
				</div>
			</form>
		</div>
	</div>
	<div id="dog-graph">
		
		<div class="svg">
		</div>

	</div>
</div>
